<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters_opt/p-spongebob-squarepants-bill-fagerbakke.jpg"/>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    
    {{>footer}}
</body>
</html>